.element__like {
    width: 22px;
    height: 19px;
    align-self: center;
    margin-right: 21px;
    padding: 0;
    border: 0;
    background: none;
}

.element__like:hover {
    opacity: 50%;
    cursor: pointer;
}