.popup__button {
    padding: 0;
    border-width: 0;
    width: 358px;
    height: 50px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    background-color: black;
    border-radius: 2px;
    color: #fff;
    margin: 32px 0 20px;
}

.popup__button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width: 610px) {
    .popup__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
        margin: 15px 0 25px;
    }
}