.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media screen and (max-width: 610px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 32px;
        padding-left: 27px;
    }
}