.header {
    max-width: 880px;
    margin: 0 auto 40px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
    .header {
        max-width: 760px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        max-width: 580px;
    }
}

@media screen and (max-width: 610px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
    }
}