.popup__title_image {
    margin-block: 0;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 10px;
    margin-left: 0;
}