.popup__error_visible {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    width: 358px;
    height: 0;
    color: red;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    display: block;
}