.footer {
    max-width: 880px;
    margin: 0 auto 60px;
    display: flex;
}

@media screen and (max-width: 920px) {
    .footer {
        max-width: 760px;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        max-width: 580px;
    }
}

@media screen and (max-width: 610px) {
    .footer {
        max-width: 282px;
        margin-bottom: 36px;
    }
}