.popup__button_disabled {
    padding: 0;
    border-width: 0;
    width: 358px;
    height: 50px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.15);
    margin: 48px 0 37px;
}

.popup__button_disabled:hover {
    opacity: 80%;
    cursor: auto;
}

@media screen and (max-width: 610px) {
    .popup__button_disabled {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
        margin: 15px 0 25px;
    }
}