.profile__form_info {
    display: flex;
    justify-content: space-between;   
}

@media screen and (max-width: 800px) {
    .profile__form_info {
        justify-content: flex-end;
        padding-right: 18px; 
    }
}