.popup__title {
    margin-block: 0;
    color: black;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    margin: 34px auto 12px 36px;
}

@media screen and (max-width: 610px) {
    .popup__title {
        font-size: 18px;
        line-height: 21.78px;
        align-self: flex-start;
        margin: 25px 0 75px 21px;
    }
}